<%- include("partials/navbar") %>
<main>
<form action="/files/new?folderId=<%=folder.id%>" method="post" enctype="multipart/form-data" class="file-form">
    <input type="file" name="uploadedFile" />
    <button type="submit">Upload</button>
</form>
</main>
