<%- include("partials/navbar") %>
<main>
<h1>Your Files</h1>
<form method="post" action="/new-folder" class="folder-form">
<input type="text" name="folderName" placeholder="Folder Name">
<button type="submit">Add Folder</button>
</form>
</main>
