@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  --col-dark: #210f37;
  --col-light: #dca06d;
}

* {
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  background-color: var(--col-dark);
  color: var(--col-light);
  border-color: var(--col-light);
}

body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

h1 {
  margin: 0px;
}

form {
  min-width: 25%;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  width: 100%;
  flex: 1;
}

input::file-selector-button {
  font-family: "Inconsolata", monospace;
  background-color: var(--col-dark);
  color: var(--col-light);
  border-color: var(--col-light);
}

fieldset > button {
  margin-top: 1em;
}

.errors > li {
  color: red;
}

label:not(:first-child) {
  margin-top: 1em;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
}

nav,
nav * {
  margin: 0px;
  background-color: var(--col-light);
  color: var(--col-dark);
}

main {
  flex: 1;
  padding: 1em;
  gap: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folder-form,
.file-form {
  display: flex;
  width: 3em;
}

.not-logged {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.folder {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  row-gap: 1em;
  column-gap: 3em;
  border: 1px solid var(--col-light);
  padding: 1em;
}
